@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: #f6f6f6;
    
}

header {
    background: #008489;
    height: 66px;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'Candal', sans-serif;

}

header .logo-text span {
    color: #e3ecec;
}


header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
 background: #5ca7a7;
 border-radius: 50px;
 transition: 0.5s;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 100;
}

header ul li:hover ul{
    display: block;
}

header ul li ul  li {
    width: 100%;
}

header ul li ul a {
    padding: 10px;
    background: white;
    color: #444;
}



header ul li ul a.logout {
    color: red;
}
header .menu-toggle {
    display: none;
}

header * {
    color: white;
}

.fa {
    font-size: .8em;
}

/*to make it responsive, use media queries*/
@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    
    header ul {
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }

    .showing {
        max-height: 100em;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }

    header ul li ul li a {
        padding: 10px;
        padding-left: 50px;
    }

    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

    header .logo {
        margin-left: .8em;
    }
    
}

/*Above is the header of this work while below is the body*/

/*original work ends here*/
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    font-family: "Poppins", serif;
}

.introduction {
    flex: 1;
}

.cover {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    font-size: 22px;
    margin-top: 5px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    border-radius: 10px;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:focus {
    outline: none;
}

.cta-add {
    border: none;
    border-radius: 10px;
    background: #c36cbb;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
}

.cta-add:focus {
    outline: none;
}

.cover {
    display: flex;
    justify-content: center;
    height: 60vh;
}
.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: ani-name 2.5s ease;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 97%;
}

.mid-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.3;
    height: 60%;
}

.small-circle {
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: -1;
    opacity: 0.2.6;
    
}

/* .laptop-select {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
    width: 20%;
} */


@keyframes ani-name {
    0% {
        opacity: 0;
        transform: translateY(-80px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    /* .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translateY(50%, 5%);
    } */

    .cover img {
        height: 80%;
    }

    .small-circle, .mid-circle, .big-circle {
        opacity: 0.2;
    }
}

/*the sub-main starts here. It is placed just above the slider*/
.sub-main {
    width: 100%;
    background-color: #051111;
    display: block;
    font-family: "Poppins", serif;

}

.sub-main h1 {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    color: white;
}

.sub-main .small-line {
    padding-top: 0px;
    margin: auto;
    height: 5px;
    width: 100px;
    background: whitesmoke;

}

.sub-main .bigbox {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

.sub-main .bigbox .box {
    padding: 10px 20px;
    margin: auto;
    box-sizing: border-box;

}

.boxcontain{
    display: flex;
    justify-content: space-between;
    background: #086b6e;
    padding: 20px;
}

.linediv {
    padding-top: 0px;
    margin: auto;
    height: 5px;
    width: 100%;
    background: #ff9800;
}

/*the sub-main stops here*/



/*Slider styling below*/
.post-slider {
    position: relative;
    margin-bottom: 20px;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
}

.post-slider .previous {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    cursor: pointer;
}

.post-slider .post-wrapper .post {
    display: inline-block;
    height: 330px;
    width: 300px;
    margin: 0px 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
    
}

.post-slider .post-wrapper .post .post-info {
    height: 100px;
    padding: 0px 20px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-wrapper a:hover {
    color: #006669;
}

.post-wrapper a {
    text-decoration: none;
    color: black;
}

/*Below is the design for the footer*/
.footer {
    width: 100%;
    background: #006669;
    display: block;
    font-family: "Poppins", serif;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.footer .inner-footer .footer-items h1{
    padding: 10px 0px;
    font-size: 25px;
    color: #c1f5f7;
    text-transform: uppercase;
}

.footer .inner-footer .footer-items p{
    color: whitesmoke;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

.footer .inner-footer .footer-items h2 {
    margin: 10px 0px;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.border {
    height: 2px;
    width: 40px;
    background: #ff9800;
}

 .footer-items ul {
    list-style: none;
    color: #c1f5f7;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer-items ul a {
    text-decoration: none;
    outline: none;
    color: #c1f5f7;
    transition: 0.3s ease;
}

.footer-items ul a:hover {
    color: #ff9800;
}

.footer-items ul li {
    margin: 10px 0;
    height: 25px;
}

.footer-items li i {
    margin-right: 20px;
}

.social-media a{
    width: 100%;
    color: whitesmoke;
    text-align: center;
}

.social-media i {
    padding: 2px;
    color: #fff;
    transition: 0.3s;
}

.footer-bottom {
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

.footer-bottom a {
    color: #9b610f;
}

@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer-items {
        width: 100%;
    }
}



